*.py[cod]
*.log
.venv

# C extensions
*.so

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
dist/*
develop-eggs
.installed.cfg
__pycache__
.cache
_deploy

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea
bower_componenets/
.venv
*~

# Files produced by runestone builds.
runestone/*/test/build_info
**/sphinx_settings.json
build_info

# IDEs
.vscode/
**/sphinx-enki-info.txt
# Mac stuff
.DS_Store
