#component-preview {
    margin-right: 20px;
    position: fixed;
    right: 0px;
    max-height: 100%;
    overflow-y: scroll;
    top: 0px;
    padding-top: 60px;
}

.toggle-preview {
    border: 4px solid;
    border-radius: 10px;
    background-color: azure;
    padding-top: 10px;
    box-shadow: 10px 5px 5px gray;
}
