.sortable-code {
    position: static;
    padding-left: 0px;
    margin: 0px 15px;
    display: inline-block;
	text-align: left;
	vertical-align: top;
}
.source, .answer, .answer1, .answer2, .answer3, .answer4 {
	position: relative;
    font-size: 100%;
    font-family: monospace;
    list-style: none;
    background-color: #efefff;
    padding-bottom: 10px;
    padding-left: 0;
    margin-left: 0;
    border: 1px solid #efefff;
}
.source {
	background-color: #efefff;
}
.answer {
	background-color: #ffa;
}
.answer1 {
	background: linear-gradient(#ff7, #ff7) no-repeat border-box;
	background-size: 30px 100%;
	background-position: 0 0;
	background-origin: padding-box;
	background-color: #ffa;
}
.answer2 {
	background: linear-gradient(#ff7, #ff7) no-repeat border-box;
	background-size: 30px 100%;
	background-position: 30px 0;
	background-origin: padding-box;
	background-color: #ffa;
}
.answer3 {
	background: linear-gradient(#ff7, #ff7) no-repeat border-box, linear-gradient(#ff7, #ff7) no-repeat border-box;
	background-size: 30px 100%, 30px 100%;
	background-position: 0 0, 60px 0;
	background-origin: padding-box, padding-box;
	background-color: #ffa;
}
.answer4 {
	background: linear-gradient(#ff7, #ff7) no-repeat border-box, linear-gradient(#ff7, #ff7) no-repeat border-box;
	background-size: 30px 100%, 30px 100%;
	background-position: 30px 0, 90px 0;
	background-origin: padding-box, padding-box;
	background-color: #ffa;
}
.block {
	position: absolute;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius: 10px;
    background-color: #EFEFEF;
    border: 1px solid lightgray;
    padding:10px;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    cursor: move;
}
.block code {
	display: block;
	clear: both;
	float: left;
	background-color: transparent;
}
.block, .block:before, .block:after {
  box-sizing: content-box;
}
code.indent1 {
	margin-left: 30px;
}
code.indent2 {
	margin-left: 60px;
}
code.indent3 {
	margin-left: 90px;
}
code.indent4 {
	margin-left: 120px;
}
.incorrect {
    border: 1px solid red;
    background: none;
    background-color: #ffefef;
}

.correct {
    background: none;
    background-color: #efffef;
    background-color: #DFF2BF;
}

.incorrectIndent {
    border: 1px solid red;
    border-left: 10px solid red;
    padding-left: 1px;
}

.correctIndent {
    border: 1px solid green;
    border-left: 10px solid green;
}

.incorrectPosition {
    background-color: #FFBABA;
    border:1px solid red;
}

.correctPosition {
    background-color: #DFF2BF;
    border:1px solid green;
}
.parsons{
	/*background-color: #fbfcfd;
	border-color: #e6e6e6;
	box-shadow: inset 0px 0px 6px -1px rgba(50, 50, 50, 0.75);*/
	border-left:0;
	border-right:0;
	border-radius:0;
	margin: 10px 0;
}
.parsons-text {
	max-width: 500pt;
	margin-left: auto;
	margin-right: auto;
}
.sortable-code-container{
	text-align:center;
}
.parsons-controls{
	max-width: 500pt;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}
