.parsons .sortable-code {
    position: static;
    padding-left: 0px;
    margin: 0px 15px;
    display: inline-block;
	text-align: left;
	vertical-align: top;
}
.parsons .source, .parsons .answer, .parsons .answer1, .parsons .answer2, .parsons .answer3, .parsons .answer4 {
	position: relative;
    font-size: 100%;
    list-style: none;
    background-color: #efefff;
    padding-bottom: 10px;
    padding-left: 0;
    margin-left: 0;
    border: 1px solid #efefff;
}
.parsons .source {
	background-color: #efefff;
}
.parsons .answer {
	background-color: #ffa;
}
.parsons .answer1 {
	background: linear-gradient(#ee0, #ee0) no-repeat border-box;
	background-size: 1px 100%;
	background-position: 30px 0;
	background-origin: padding-box;
	background-color: #ffa;
}
.parsons .answer2 {
	background: linear-gradient(#ee0, #ee0) no-repeat border-box, linear-gradient(#ee0, #ee0) no-repeat border-box;
	background-size: 1px 100%, 1px 100%;
	background-position: 30px 0, 60px 0;
	background-origin: padding-box, padding-box;
	background-color: #ffa;
}
.parsons .answer3 {
	background: linear-gradient(#ee0, #ee0) no-repeat border-box, linear-gradient(#ee0, #ee0) no-repeat border-box, linear-gradient(#ee0, #ee0) no-repeat border-box;
	background-size: 1px 100%, 1px 100%, 1px 100%;
	background-position: 30px 0, 60px 0, 90px 0;
	background-origin: padding-box, padding-box, padding-box;
	background-color: #ffa;
}
.parsons .answer4 {
	background: linear-gradient(#ee0, #ee0) no-repeat border-box, linear-gradient(#ee0, #ee0) no-repeat border-box, linear-gradient(#ee0, #ee0) no-repeat border-box, linear-gradient(#ee0, #ee0) no-repeat border-box;
	background-size: 1px 100%, 1px 100%, 1px 100%, 1px 100%;
	background-position: 30px 0, 60px 0, 90px 0, 120px 0;
	background-origin: padding-box, padding-box, padding-box, padding-box;
	background-color: #ffa;
}
.parsons .block {
	position: absolute;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius: 10px;
    background-color: #EFEFEF;
    border: 1px solid lightgray;
    padding:10px;
    margin-top: 5px;
    overflow: hidden;
    cursor: move;
}
.parsons .block code {
	display: block;
	clear: both;
	float: left;
	background-color: transparent;
}
.parsons .block p {
	margin: 0;
}
.parsons .block, .parsons .block:before, .parsons .block:after {
  box-sizing: content-box;
}
.parsons .indent1 {
	margin-left: 30px;
}
.parsons .indent2 {
	margin-left: 60px;
}
.parsons .indent3 {
	margin-left: 90px;
}
.parsons .indent4 {
	margin-left: 120px;
}
.parsons .incorrect {
    border: 1px solid red;
    background: none;
    background-color: #ffefef;
}
.parsons .correct {
    background: none;
    background-color: #efffef;
    background-color: #DFF2BF;
}
.parsons .incorrectIndent {
    border: 1px solid red;
    border-left: 10px solid red;
    padding-left: 1px;
}
.parsons .correctIndent {
    border: 1px solid green;
    border-left: 10px solid green;
}
.parsons .incorrectPosition {
    background-color: #FFBABA;
    border:1px solid red;
}
.parsons .correctPosition {
    background-color: #DFF2BF;
    border:1px solid green;
}
.parsons {
	border-left:0;
	border-right:0;
	border-radius:0;
	margin: 10px 0;
}
.parsons .parsons-text {
	max-width: 500pt;
	margin-left: auto;
	margin-right: auto;
}
.parsons .sortable-code-container {
	text-align:center;
}
.parsons .sortable-code-container:not(.block) {
	/* Remove text highlighting in widget */
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}
.parsons .parsons-controls{
	max-width: 500pt;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}
