.selectwidthauto {
     width:auto !important;
     display: inline-block !important;
     margin: 5px;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

 ul#pageNums, ul#pageNums li {
     text-align: center;
	 padding: 10px 0;
 }
 
 .pagination > .correctCount > a,
 .pagination > .correctCount > span {
	background-color: #dff0d8; 
	color: #000000;
	border-color: #000000;
 }
 
  .pagination > .skippedCount > a,
  .pagination > .skippedCount > span {
	background-color: #fcf8e3; 
	color: #000000;
	border-color: #000000;
 }

 .pagination > .incorrectCount > a,
 .pagination > .incorrectCount > span {
	background-color: #f2dede; 
	color: #000000;
	border-color: #000000;
 }

