import paver
from paver.easy import *
import paver.setuputils
paver.setuputils.install_distutils_tasks()
import os, sys
from runestone.server import get_dburl
from sphinxcontrib import paverutils
import pkg_resources

sys.path.append(os.getcwd())

home_dir = os.getcwd()
master_url = '%(master_url)s'
master_app = 'runestone'
serving_dir = "%(build_dir)s/%(project_name)s"
dest = "%(dest)s"

options(
    sphinx = Bunch(docroot=".",),

    build = Bunch(
        builddir="%(build_dir)s/%(project_name)s",
        sourcedir="_sources",
        outdir="%(build_dir)s/%(project_name)s",
        confdir=".",
        project_name = "%(project_name)s",
        template_args={'course_id': '%(project_name)s',
                       'login_required':'%(login_req)s',
                       'appname':master_app,
                       'loglevel': %(log_level)d,
                       'course_url':master_url,
                       'use_services': '%(use_services)s',
                       'python3': '%(python3)s',
                       'dburl': '%(dburl)s',
                       'basecourse': '%(basecourse)s'
                        }
    )
)

version = pkg_resources.require("runestone")[0].version
options.build.template_args['runestone_version'] = version

# If DBUSER etc. are in the environment override dburl
options.build.template_args['dburl'] = get_dburl(outer=locals())

from runestone import build  # build is called implicitly by the paver driver.
