.hparsons_section {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    clear: both;
}

.hparsons_section > *:not(.hparsons_section) {
    max-width: 500pt;
    margin-left: auto;
    margin-right: auto;
}